<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<%# Code added to display the associated comments under a post %>
<h2>Comments</h2>
<div id="comments">
  <%# Code added to replace - and reference - code moved to _comment.html.erb %>
  <%= render :partial => @post.comments.reverse %>
</div>

<%# Code to allow a new comment to be entered when showing a post with ajax support%>
<%= form_for([@post, Comment.new], remote: true) do |f| %>
  <p>
    <%= f.label :body, "New Comment"%> <br \>
    <%= f.text_area :body %>
  </p>
  <p> <%= f.submit "Add Comment"%> </p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
